<h1>Data User</h1>
<a href="/tambah" class="btn btn-primary">Tambah Data</a>
<table class="table mt-2">
  <tr>
    <th>Fullname</th>
    <th>Username</th>
    <th>Password</th>
    <th>Level</th>
    <th>Aksi</th>
  </tr>
  <% users.forEach(mhs => { %>
  <tr>
    <td><%= mhs.fullname; %></td>
    <td><%= mhs.username; %></td>
    <td><%= mhs.password; %></td>
    <td><%= mhs.level; %></td>
    <td>
      <a href="/update/<%- mhs.username %> " class="btn btn-success btn-sm"
        >edit</a
      >
      <a href="/hapus/<%= mhs.username %>" class="btn btn-danger btn-sm"
        >hapus</a
      >
    </td>
  </tr>
  <% }) %>
</table>

<a href="/" class="btn btn-danger">Keluar</a>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
